@keyframes fadeIn {
    from {opacity: 0%};
    to {opacity: 100%};
}

div{
    padding-top: 12%;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a:link, a:visited, a:focus, a:active{
    color:blue;
}

li {
    display:inline-block;
    width: 70px;
}

.logo{
    font-family: 'Handlee', cursive;
    font-size: 60px;
}

ul {
    padding-top: 10px%;
}

.vignette{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow: 0 0 200px rgba(0,0,0,1) inset;  
}

/*(='X'=)