@keyframes fadeIn {
    from {opacity: 0%};
    to {opacity: 100%};
}

div{
    padding-top: 12%;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a:link, a:visited, a:focus, a:active{
    color:white;
}

li {
    display:inline-block;
    width: 70px;
}

.logo{
    font-family: 'Handlee', cursive;
    font-size: 60px;
}

ul {
    padding-top: 10px%;
}

body {
    background:url(https://b.catgirlsare.sexy/AFO2ZPzm.png);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(60%) blur(6px);
}

html, body {
    margin:0;
    height:100%     
}

h1 {
    color:white 
}

/*(='X'=)