@keyframes fadeIn {
    from {opacity: 0%};
    to {opacity: 100%};
}

div{    
    animation-name: fadeIn;
    animation-duration: 3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a:link, a:visited, a:focus, a:active{
    color:white;
}

li {
    display:inline-block;
    width: 70px;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 60px;
    margin-bottom: -7px;
    margin-top: 30px;
}

ul {
    padding-top: 10px;
}

body {
    background:url(https://b.catgirlsare.sexy/AFO2ZPzm.png);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(60%) blur(6px);
}

html, body {
    margin:0;
    height:100%     
}

h1 {
    color:white 
}

.main {
    border-radius: 5%;
    background-color: #000000a0;
    padding: 20px;
    position: absolute;
    margin:auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.ok {
    height: 5px
}

.men {
    color:white;
}
/*(='X'=)