body{
    margin: 0;
    overflow: hidden;
}

#logo {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color:white;
}